<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Startrack Chess Online</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style4auth.css">
        <style>
      body {
        background: url("/stars") no-repeat center center fixed;
        width: 1440px;
        height: 814px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    </style>
  </head>
  <body>
    <h1>Авторизация</h1>
    <h1> </h1>
    <h2> </h2>
    <h2> </h2>
    <h1> </h1>
    <h2> </h2>
    <div class="window">
      <!-- <form method="GET"> -->
      <form onsubmit="return false;" id="form">
      <!-- <form action="/account" onsubmit="return false;" id="form"> -->
        <div>
          <label for="login">Логин:</label>
          <input type="text" id="login1" name="login" required >
        </div>
        <div>
          <label for="password">Пароль:</label>
          <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </div>
        <div class="button-panel">
          <div>

            <button type="button" onclick="window.location.href='/'">Назад</button>
            <button type="submit" formaction="/account">Войти</button>
            
          </div>
        </div>
      </form>

      <div class="alert alert-danger" role="alert" id="error" style="display: none;"></div>
      <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>

    </div>
    <script src="js/login.js"></script>
  </body>
</html>
