<!DOCTYPE html>
<html>
<head>
	<title>Короткий стих</title>
</head>
<body>
	<h1>Вечерняя кошка</h1>
	<p>Мурлычет кошка,</p>
	<p>Сидит на подоконнике.</p>
	<p>Знойный день прошел...</p>
</body>
</html>